/*header city backgrond*/
/*header presentation background*/
/*city & presentation text*/
/*box shadow grey*/
section {
  background-color: #f5f5f5;
  margin-top: -2em;
  padding: 1em 1em 2em 1em;
  border-radius: 2em 2em 0em 0em;
  position: relative;
  z-index: 2;
}
section h1 {
  display: flex;
  justify-content: space-between;
  font-family: "Shrikhand";
  font-size: 1.8em;
  margin-top: 0.5em;
}
section h1 .far.fa-heart {
  margin-top: 0.2em;
}
section h2 {
  padding-top: 1em;
  font-size: 1.2em;
  font-weight: normal;
}
section .ligne {
  font-weight: bold;
  font-size: 1.5em;
  color: #99E2D0;
  margin-top: -1.5em;
  margin-bottom: 1em;
}
section .menu-list .menu.choices {
  background-color: white;
  border-radius: 1em;
  padding: 0.2em 0.5em 0.5em 0.8em;
  box-shadow: -1px 10px 13px -5px #b0b0b0;
  display: flex;
  flex-direction: row;
  justify-content: stretch;
  height: 4em;
  margin-bottom: 1em;
  overflow: hidden;
}
section .menu-list .menu.choices :hover + .menu.right {
  transform: translate(-4.5em, 0em);
}
section .menu-list .menu.choices .menu.name {
  width: 95%;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
section .menu-list .menu.choices .menu.name h3 {
  font-weight: bold;
  margin-top: 0.6em;
  font-size: 1.1em;
}
section .menu-list .menu.choices .menu.name .menu.desc {
  margin-top: -1em;
  font-size: 0.9em;
  color: #535353;
}
section .menu-list .menu.choices .menu.right {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  transition: transform 350ms ease-in;
}
section .menu-list .menu.choices .menu.right .menu.price {
  font-weight: bold;
  font-size: 0.8em;
  display: flex;
  align-items: flex-end;
  margin: 1.05em 0em 1em 0em;
  padding: 1em 1em 0.5em 0.8em;
  background-color: white;
  height: 2em;
}
section .menu-list .menu.choices .menu.right .menu.check {
  display: flex;
  align-items: center;
  background-color: #99E2D0;
  border-radius: 0em 1em 1em 0em;
  padding: 1.5em;
  margin: -0.2em -5em -0.5em 0em;
}
section .menu-list .menu.choices .menu.right .menu.check .fas.fa-check {
  border-radius: 2em;
  background-color: white;
  color: #99E2D0;
  padding: 0.2em;
}
section .order {
  width: 100%;
  display: flex;
  justify-content: center;
}
section .order .order-button {
  margin-bottom: 2em;
  padding: 1em 3em 1em 3em;
  margin-top: 1em;
  box-shadow: inset 5px 16px 50px 6px rgba(250, 90, 205, 0.71), 0px 13px 13px 0px #b0b0b0;
  font-size: 1em;
  border-radius: 2em;
  background-color: #9356DC;
  border: none;
  text-decoration: none;
  color: white;
}
section .order .order-button:hover {
  box-shadow: inset 5px 16px 50px 6px rgba(253, 167, 229, 0.71), 0px 13px 25px 0px #535353;
}

/*Responsive tablettes*/
@media only screen and (min-width: 600px) {
  section {
    width: 85%;
    margin-left: auto;
    margin-right: auto;
  }
  section h2 {
    text-align: center;
  }
  section .ligne {
    text-align: center;
  }
  section .order {
    padding-top: 2em;
  }
}
/*Responsive desktop*/
@media screen and (min-width: 1024px) {
  h1 {
    font-size: 2em;
    justify-content: flex-start !important;
  }
  h1 .far.fa-heart {
    padding-left: 1em;
  }

  .menu-all {
    display: flex;
    justify-content: space-around;
  }
  .menu-all .menu-steps {
    width: 100%;
  }
  .menu-all .menu-steps .menu-list {
    width: 95% !important;
    margin-left: 0.5em;
  }
}

/*# sourceMappingURL=section_menu.css.map */
