/*header city backgrond*/
/*header presentation background*/
/*city & presentation text*/
/*box shadow grey*/
@keyframes resto-heart-like {
  0% {
    color: transparent;
  }
  100% {
    color: rgba(147, 86, 220, 0.6);
    text-shadow: 0px 0px 0px rgba(248, 56, 194, 0.8);
  }
}
@keyframes menu-choices-arrival {
  0% {
    opacity: 0;
    transform: scale(0, 0);
  }
  100% {
    opacity: 1;
    transform: scale(1, 1);
  }
}
@keyframes loading-background {
  0% {
    background-color: rgba(255, 255, 255, 0.9);
  }
  99% {
    background-color: rgba(255, 255, 255, 0.9);
  }
  100% {
    background-color: transparent;
  }
}
@keyframes loading-object {
  0% {
    transform: rotate(0deg);
    border: solid 0.5em;
    border-top-color: #9356DC;
    border-bottom-color: #FF79DA;
    border-right-color: transparent;
    border-left-color: #99E2D0;
  }
  99% {
    transform: rotate(1080deg);
    border: solid 0.5em;
    border-top-color: #9356DC;
    border-bottom-color: #FF79DA;
    border-right-color: transparent;
    border-left-color: #99E2D0;
  }
  100% {
    transform: rotate(1440deg);
    border-color: transparent;
  }
}
section[class=fonct] {
  padding-left: 0.5em;
  margin-top: 2.5em;
}
section[class=fonct] h2 {
  margin-left: 0.5em;
}
section[class=fonct] .fonct-list {
  padding-left: 0em;
}
section[class=fonct] .fonct-list .fonct-step {
  display: flex;
  flex-direction: row;
  align-content: space-around;
  background-color: #f5f5f5;
  border-radius: 1em;
  margin: 0em 1em 1em 1em;
  box-shadow: -1px 10px 13px -5px #b9b9b9;
}
section[class=fonct] .fonct-list .fonct-step:hover {
  background: rgba(147, 86, 220, 0.2);
}
section[class=fonct] .fonct-list .fonct-step:hover .fas.fonct {
  color: #9356DC;
}
section[class=fonct] .fonct-list .fonct-step .fas.fonct {
  padding: 1.5em;
  color: #535353;
}
section[class=fonct] .fonct-list .fonct-step .fonct-num {
  border-radius: 3em;
  background-color: #9356DC;
  padding: 0.2em 0.6em 0.2em 0.6em;
  color: white;
  margin-left: -1em;
  margin-top: 1.2em;
  height: 1.3em;
}

section[class=resto] {
  display: flex;
  flex-direction: column;
  background-color: #f5f5f5;
  margin-top: 3em;
  padding-bottom: 3em;
}
section[class=resto] h2[class=resto-title] {
  padding: 0.5em;
  margin-bottom: 0em;
  margin-left: 0.5em;
}
section[class=resto] ul[class=resto-list] {
  display: flex;
  flex-direction: column;
  margin-top: 0em;
}
section[class=resto] ul[class=resto-list] li[class=resto-prev] {
  box-shadow: -1px 10px 13px -5px #b9b9b9;
  margin-bottom: 1em;
  border-radius: 1em;
  width: 90%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
section[class=resto] ul[class=resto-list] li[class=resto-prev] a[class=resto-link] {
  text-decoration: none;
  color: black;
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 1;
}
section[class=resto] ul[class=resto-list] li[class=resto-prev] a[class=resto-link] img[class=resto-pic] {
  width: 100%;
  border-radius: 1em 1em 0em 0em;
  height: 10em;
  object-fit: cover;
  z-index: 2;
}
section[class=resto] ul[class=resto-list] li[class=resto-prev] a[class=resto-link] .resto-new {
  background-color: #99E2D0;
  color: #2D8671;
  width: 4.5em;
  text-align: center;
  padding: 0.3em;
  margin-left: 70%;
  margin-bottom: -2.5em;
  position: relative;
  z-index: 3;
}
section[class=resto] ul[class=resto-list] li[class=resto-prev] a[class=resto-link] .resto-pres {
  background-color: white;
  padding: 0.5em 1em 0.5em 1em;
  border-radius: 0em 0em 1em 1em;
  margin-top: -0.5em;
}
section[class=resto] ul[class=resto-list] li[class=resto-prev] a[class=resto-link] .resto-pres .resto-name {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0em;
}
section[class=resto] ul[class=resto-list] li[class=resto-prev] a[class=resto-link] .resto-pres .resto-hearts {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
section[class=resto] ul[class=resto-list] li[class=resto-prev] a[class=resto-link] .resto-pres .resto-hearts .far.fa-heart {
  margin-top: 0.5em;
  transition: background-color 250ms;
  position: relative;
  z-index: 4;
}
section[class=resto] ul[class=resto-list] li[class=resto-prev] a[class=resto-link] .resto-pres .resto-hearts .fas.fa-heart {
  position: relative;
  bottom: 1em;
  color: transparent;
  z-index: 5;
}
section[class=resto] ul[class=resto-list] li[class=resto-prev] a[class=resto-link] .resto-pres .resto-hearts .fas.fa-heart:hover {
  animation-name: resto-heart-like;
  animation-duration: 500ms;
  animation-fill-mode: forwards;
}
section[class=resto] ul[class=resto-list] li[class=resto-prev] a[class=resto-link] .resto-pres .resto-loc {
  margin-top: -0.5em;
}

/*Responsive tablettes*/
@media only screen and (min-width: 600px) {
  .fonct-list {
    align-items: center;
    display: flex;
    flex-direction: column;
  }
  .fonct-list .fonct-step {
    width: 50%;
  }

  .resto-list {
    flex-direction: row !important;
    flex-wrap: wrap;
  }
  .resto-list .resto-prev {
    width: 45% !important;
    margin: 1em;
    overflow: hidden;
  }
}
/*Responsive desktop*/
@media screen and (min-width: 1024px) {
  .fonct-list {
    flex-direction: row;
  }
  .fonct-list .fonct-step {
    width: 33% !important;
  }

  .resto {
    width: 85%;
    margin: auto;
    border-radius: 2em 2em 0em 0em;
  }
  .resto .resto-list {
    flex-direction: row !important;
    flex-wrap: wrap;
  }
  .resto .resto-list .resto-prev .resto-pres {
    height: 100%;
  }
  .resto .resto-list .resto-prev .resto-new {
    margin-left: 75% !important;
    font-size: 1.2em !important;
  }
}

/*# sourceMappingURL=section.css.map */
