/*header city backgrond*/
/*header presentation background*/
/*city & presentation text*/
/*box shadow grey*/
@keyframes resto-heart-like {
  0% {
    color: transparent;
  }
  100% {
    color: rgba(147, 86, 220, 0.6);
    text-shadow: 0px 0px 0px rgba(248, 56, 194, 0.8);
  }
}
@keyframes menu-choices-arrival {
  0% {
    opacity: 0;
    transform: scale(0, 0);
  }
  100% {
    opacity: 1em;
    transform: scale(1, 1);
  }
}
@keyframes loading-background {
  0% {
    background-color: rgba(255, 255, 255, 0.9);
  }
  99% {
    background-color: rgba(255, 255, 255, 0.9);
  }
  100% {
    background-color: transparent;
  }
}
@keyframes loading-object {
  0% {
    transform: rotate(0deg);
    border: solid 0.5em;
    border-top-color: #9356DC;
    border-bottom-color: #FF79DA;
    border-right-color: transparent;
    border-left-color: #99E2D0;
  }
  99% {
    transform: rotate(1080deg);
    border: solid 0.5em;
    border-top-color: #9356DC;
    border-bottom-color: #FF79DA;
    border-right-color: transparent;
    border-left-color: #99E2D0;
  }
  100% {
    transform: rotate(1440deg);
    border-color: transparent;
  }
}
section {
  background-color: #f5f5f5;
  margin-top: -2em;
  padding: 1em 1em 2em 1em;
  border-radius: 2em 2em 0em 0em;
  position: relative;
  z-index: 2;
}
section .resto-name {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-top: -1em;
  margin-bottom: -1em;
}
section .resto-name h1 {
  font-family: "Shrikhand";
  font-size: 1.8em;
}
section .resto-name .menu-heart {
  display: flex;
  flex-direction: column;
  font-size: 1.5em;
  cursor: pointer;
}
section .resto-name .menu-heart .far.fa-heart {
  margin-top: 0.2em;
  transition: background-color 250ms;
  position: relative;
  z-index: 3;
}
section .resto-name .menu-heart .fas.fa-heart {
  position: relative;
  bottom: 1em;
  color: transparent;
  z-index: 4;
}
section .resto-name .menu-heart .fas.fa-heart:hover {
  animation-name: resto-heart-like;
  animation-duration: 500ms;
  animation-fill-mode: forwards;
}
section h2 {
  padding-top: 1em;
  font-size: 1.2em;
  font-weight: normal;
}
section .ligne {
  font-weight: bold;
  font-size: 1.5em;
  color: #99E2D0;
  margin-top: -1.5em;
  margin-bottom: 1em;
}
section .menu-list .menu_choices {
  background-color: white;
  border-radius: 1em;
  padding: 0.2em 0.5em 0.5em 0.8em;
  box-shadow: -1px 10px 13px -5px #b9b9b9;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 4em;
  margin-bottom: 1em;
  overflow: hidden;
  cursor: pointer;
  animation: menu-choices-arrival;
  animation-duration: 2s;
  transform: scale(0, 0);
  animation-fill-mode: forwards;
}
section .menu-list .menu_choices :hover + .menu.right {
  transform: translate(-4.5em, 0em);
}
section .menu-list .menu_choices :hover h3, section .menu-list .menu_choices :hover p {
  transition: 0.6s;
  width: 75%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
section .menu-list .menu_choices .menu.name {
  flex: 1;
}
section .menu-list .menu_choices .menu.name h3 {
  font-weight: bold;
  margin-top: 0.6em;
  font-size: 1.1em;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
section .menu-list .menu_choices .menu.name .menu.desc {
  margin-top: -1em;
  font-size: 0.9em;
  color: #535353;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
section .menu-list .menu_choices .menu.right {
  display: flex;
  justify-content: space-between;
  transition: transform 350ms ease-in;
}
section .menu-list .menu_choices .menu.right .menu.price {
  font-weight: bold;
  font-size: 0.8em;
  display: flex;
  align-items: flex-end;
  margin: 1.05em 0em 1em 0em;
  padding: 1em 1em 0.5em 0.8em;
  background-color: white;
  height: 2em;
}
section .menu-list .menu_choices .menu.right .menu.check {
  display: flex;
  align-items: center;
  background-color: #99E2D0;
  border-radius: 0em 1em 1em 0em;
  padding: 1.5em;
  margin: -0.2em -5em -0.5em 0em;
}
section .menu-list .menu_choices .menu.right .menu.check .fas.fa-check {
  border-radius: 2em;
  background-color: white;
  color: #99E2D0;
  padding: 0.2em;
}
section .menu-list .choice1 {
  animation-delay: 200ms;
}
section .menu-list .choice2 {
  animation-delay: 400ms;
}
section .menu-list .choice3 {
  animation-delay: 600ms;
}
section .menu-list .choice4 {
  animation-delay: 800ms;
}
section .menu-list .choice5 {
  animation-delay: 1s;
}
section .menu-list .choice6 {
  animation-delay: 1200ms;
}
section .menu-list .choice7 {
  animation-delay: 1400ms;
}
section .menu-list .choice8 {
  animation-delay: 1600ms;
}
section .menu-list .choice9 {
  animation-delay: 1800ms;
}
section .menu-list .choice10 {
  animation-delay: 2s;
}
section .order {
  width: 100%;
  display: flex;
  justify-content: center;
}
section .order .order-button {
  margin-bottom: 2em;
  padding: 1em 3em 1em 3em;
  margin-top: 1em;
  box-shadow: inset 5px 16px 50px 6px rgba(250, 90, 178, 0.71), 0px 13px 13px 0px #b9b9b9;
  font-size: 1em;
  border-radius: 2em;
  background-color: #9356DC;
  border: none;
  text-decoration: none;
  color: white;
}
section .order .order-button:hover {
  box-shadow: inset 5px 16px 50px 6px rgba(250, 148, 204, 0.71), 0px 13px 25px 0px #535353;
}

/*Responsive tablettes*/
@media only screen and (min-width: 600px) {
  section {
    width: 85%;
    margin-left: auto;
    margin-right: auto;
  }
  section .menu-heart {
    margin-left: 2em;
  }
  section h2 {
    text-align: center;
  }
  section .ligne {
    text-align: center;
  }
  section .order {
    padding-top: 2em;
  }
}
/*Responsive desktop*/
@media screen and (min-width: 1024px) {
  .resto-name {
    justify-content: flex-start !important;
  }
  .resto-name .far.fa-heart .fas.fa-heart {
    padding-left: 1em;
  }

  .menu-all {
    display: flex;
    justify-content: space-around;
  }
  .menu-all .menu-steps {
    width: 100%;
  }
  .menu-all .menu-steps .menu-list {
    width: 95% !important;
    margin-left: 0.5em;
  }
}

/*# sourceMappingURL=section_menu.css.map */
