
footer {
    background-color: #282B2A;
    color: white;
    padding:0.5em;
    margin-top: -1em;
    margin-bottom: 1em;
    .footer-logo {
        width: 30%;
        padding: 1em 1em 0em 0.5em;
    } 
    li[class="footer-list"] {
        padding: 0.5em;
        display: flex;
        flex-direction: row;
        align-items: center;

        .fas.footer {
            margin-right: 1em;
            width: 1em;
        }
 
        .footer-prop {
            margin-bottom: 0em;
            margin-top: 0em;

        }
    }
}
