@import "variables";

body {
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    color:black;
    max-width: 100%;
    min-height: 100%;
    position:relative; /*pour que le background du loader soit sur toute la page*/

    ul {
        list-style: none; 
        margin-left: 0em;
        padding-left: 0em;
    }
}

.loading {
    width: 100%;
    height: 100%;
    position: absolute;
    pointer-events: none;
    animation-name: loading-background;
    animation-duration: 4s;
    z-index: 1000;

    @keyframes loading-background {
        0% {
            background-color: rgba(255, 255, 255, 0.8);
        }
        99% {
            background-color: rgba(255, 255, 255, 0.8);
        }
        100% {background-color: transparent;}
    }

    .loading-object {
        
        margin: auto;
        position: absolute;
        top: 20em ; left:0em; right: 0em;
        width: 5em;
        border-radius: 3em;
        height: 5em;
        pointer-events: none;

        transform: rotate(360deg);
        animation-name: loading-object;
        animation-duration: 4s;
        @keyframes loading-object {
            0% {
                transform: rotate(0deg); border: solid 0.5em ;
                border-top-color: $primary-color ;
                border-bottom-color: $secondary-color;
                border-right-color: transparent;
                border-left-color: $tertiary-color ;
            }

            99% {
                transform: rotate(1440deg); border: solid 0.5em ;
                border-top-color: $primary-color ;
                border-bottom-color: $secondary-color;
                border-right-color: transparent;
                border-left-color: $tertiary-color ;
            }
          
            100% {
                transform: rotate(1440deg); border-color: transparent; 
            }
        }       
    }
}

header {
    text-align: center;
    max-width: 100%;

    .header-logo {
        width: 10em;
        display: block;
        margin: auto;
        padding-top: 0.5em;
    }
    .header-city {
        background-color: $grey ;
        color: $darkgrey;
        font-weight: bold;
        padding : 1em;
        box-shadow: inset -1px 12px 9px -13px $shadow;
        .fas.fa-map-marker-alt {
            margin-right: 0.5em;
        }
    }
    h1 {
        font-size: 1.7em;
        font-weight: bold;
        padding: 0em 0.5em 0em 0.5em;
    }
    .header-presentation {
        background-color: $lightgrey;
        padding: 1em 1em 3em 1em;
        margin-top: -1em;
        

        .header-presentation__text {
            color: $darkgrey;
            font-size: 1.2em;
            margin-bottom: 2em;
            }
    }
    .header-button {
        padding: 1em;
        margin-top: 2em;
        @include mixin-button ;
        
    }   

    
    
    
}   



