@import "variables";


header {
    text-align: center;
    max-width: 100%;

    .header-logo {
        width: 10em;
        display: block;
        margin: auto;
        padding-top: 0.5em;
    }
    .header-city {
        background-color: $grey ;
        color: $darkgrey;
        font-weight: bold;
        padding : 1em;
        box-shadow: inset -1px 12px 9px -13px $shadow;
        .fas.fa-map-marker-alt {
            margin-right: 0.5em;
        }
    }
    h1 {
        font-size: 1.7em;
        font-weight: bold;
        padding: 0em 0.5em 0em 0.5em;
    }
    .header-presentation {
        background-color: $lightgrey;
        padding: 1em 1em 3em 1em;
        margin-top: -1em;
        

        .header-presentation__text {
            color: $darkgrey;
            font-size: 1.2em;
            margin-bottom: 2em;
            }
    }
    .header-button {
        padding: 1em;
        margin-top: 2em;
        @include mixin-button ;
        
    }   

    
    
    
}   



