
@font-face {
    font-family: "Roboto";
    src: url("Police/roboto/Roboto-Regular.ttf") format("ttf");
}

body 
{
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    color:black;
    

}
img[class=resto-pix] 
{
    width: 50%;
}
ul
{
    list-style: none;
}
h2
{
    font-size: 1em;
}