@import "variables";

section {
    background-color: $lightgrey;
    margin-top: -2em;
    padding: 1em 1em 2em 1em;
    border-radius: 2em 2em 0em 0em;
    position:relative;
    z-index: 2;
    h1 {
        display:flex;
        justify-content: space-between;
        font-family: "Shrikhand" ;
    }
    h2 {
        padding-top: 1em;
    }
    .ligne {
        font-weight: bold;
        font-size: 1.5em;
        color: $tertiary-color;
        margin-top: -1.5em;
        margin-bottom: 1em;
    }
    .menu-list
    {
        background-color: white;
        border-radius: 1em;
        padding: 0.2em 0.5em 0.5em 1em;
        @include mixin-shadow;
        display:flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-content: space-around;
        height: 4.5em;
        .menu.name {
            font-weight: bold;
            width: 100%;
            margin-bottom: -1em;
        }
        .menu.desc {
            font-size: 0.8em;
            color: $darkgrey;
        }
        .menu.price {
            font-weight: bold;
            width: 15%;
            font-size: 0.8em;
        }
    }
    .order {
        display: flex;
        justify-content: center;
        padding-bottom: 2em;

        .order-button {
        border-radius: 2em;
        padding: 0.8em 3em 0.8em 3em;
        margin-top: 1em;
        background-color: $primary-color;
        color: white;
        border: none;
        @include mixin-shadow;
        box-shadow: inset 5px 16px 50px 6px rgba(255,121,218,0.71);
        } 
    }
    
}