@import "variables";

section[class="fonct"] {
    padding-left: 0.5em;
    margin-top: 2.5em;
    h2 {
        margin-left:0.5em;
    }
    .fonct-list {
        padding-left: 0em;
        
        .fonct-step {
            display: flex;
            flex-direction: row;
            align-content: space-around;
            background-color: $lightgrey;
            border-radius: 1em;
            margin: 0em 1em 1em 1em;
            @include mixin-shadow;
            &:hover {
                @include mixin-primary-hover;
                & .fas.fonct {
                    color:$primary-color
                }
            }
            .fas.fonct {
                padding: 1.5em;
                color: $darkgrey;
            }
            .fonct-num {
                border-radius: 3em;
                background-color: $primary-color;
                padding: 0.2em 0.6em 0.2em 0.6em;
                color: white;
                margin-left: -1em;
                margin-top: 1.2em;
                height: 1.3em;
            }

        }
    }

    
}

section[class="resto"] {
    display: flex;
    flex-direction: column;
    background-color: $lightgrey;
    margin-top: 3em;
    padding-bottom: 3em;

    h2[class="resto-title"] {
        padding: 0.5em;
        margin-bottom: 0em;
        margin-left:0.5em;
    }
    ul[class="resto-list"] {
        display: flex;
        flex-direction: column;
        margin-top: 0em;

        li[class="resto-prev"] {
            @include mixin-shadow;
            margin-bottom: 1em;
            border-radius: 1em;
            width: 90%;
            display: block;
            margin-left: auto;
            margin-right: auto;
            a[class="resto-link"] {
                text-decoration: none;
                color: black;
                cursor: pointer;
                display: flex;
                flex-direction: column;

                img[class=resto-pic] {   
                width: 100%;
                border-radius: 1em 1em 0em 0em;
                height: 10em;
                object-fit: cover;
                z-index:1;
                }
                .resto-new {
                background-color: $tertiary-color ;
                color: $tertiary-color-dark;
                width: 4.5em;
                text-align: center;
                padding: 0.3em;
                margin-left: 70%;
                margin-bottom: -2.5em;
                position: relative;
                z-index:2;
                }
    
                .resto-pres {
                background-color: white;
                padding: 0.5em 1em 0.5em 1em;
                border-radius: 0em 0em 1em 1em;
                margin-top: -0.5em;
    
                    .resto-name {
                        display: flex;
                        justify-content: space-between;
                        margin-bottom: 0em;
                    }

                    .resto-hearts {
                        display: flex;
                        flex-direction: column;
                        justify-content: flex-end;
                        
                        .far.fa-heart {
                            margin-top: 0.5em;
                            transition: background-color 250ms;
                            position: relative;
                            z-index: 5;   
                        }   
                        .fas.fa-heart {
                            position: relative;
                            bottom: 1em;
                            color:transparent;
                            z-index: 6;
                            &:hover {
                                    
                                animation-name: resto-heart-like;
                                animation-duration: 500ms;
                                animation-fill-mode: forwards;
                            }
                        }

                    }
                    .resto-loc {
                        margin-top: -0.5em;
                    }
                }
            }
        }     
    }   
}


/*Responsive tablettes*/
@media only screen and (min-width:600px) {
    .fonct-list {
        align-items: center;
        display: flex;
        flex-direction: column;
        .fonct-step {
            width: 50%;
        }
    }
    .resto-list {
        flex-direction: row !important;
        flex-wrap: wrap;
        .resto-prev {
            width: 45% !important;
            margin: 1em;
            overflow: hidden;
        }
    }  
}


/*Responsive desktop*/
@media screen and (min-width:1024px) {
    .fonct-list {
        flex-direction: row;
        .fonct-step {
            width: 33% !important;
        }
    }
    .resto {
        width: 85%;
        margin: auto;
        border-radius: 2em 2em 0em 0em;

        .resto-list {
            flex-direction: row !important;
            flex-wrap: wrap;
        
            .resto-prev {
                
                .resto-pres {
                height: 100%;
                }
                .resto-new {
                    margin-left: 75%!important;
                    font-size: 1.2em!important;
                }
            }    
        }
    }   
}
